<section >
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{'planinfo' | translate}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div layout="row">
                <div flex>{{'product' | translate}}: {{ data.productid}}</div>
                <div flex>{{'plancode' | translate}}: {{data.planname}}</div>
            </div>
        </md-card-content>
    </md-card>
</section>